<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="logfilename">E:/tmp/name_generator.log</Property>
    </Properties>
    <Appenders>
        <Console name="Konsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level - %msg%n"/>
        </Console>
        <File name="FileLog" filename="${logfilename}">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Konsole"/>
            <AppenderRef ref="FileLog"/>
        </Root>
    </Loggers>
</Configuration>